.wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	justify-items: center;
	align-content: center;
}

.plain {
	aspect-ratio: 187 / 236;
	width: 60%;
}

.withSword {
	aspect-ratio: 214 / 236;
	width: calc(60% * 214 / 187);
	margin-right: -23.5%;
}
