.wrapper {
	margin-block: 2rem;
	display: grid;
	max-width: calc(8rem * var(--Environment-size-width));
	margin-inline: auto;
	grid-template-columns: repeat(var(--Environment-size-width), 1fr);
	grid-template-rows: repeat(var(--Environment-size-height), 1fr);
	gap: 0.125rem;
	position: relative;
	isolation: isolate;
}
.segment {
	position: relative;
	display: grid;
	align-items: center;
	grid-column: calc(var(--Environment-segment-position-x) + 1);
	grid-row: calc(var(--Environment-segment-position-y) + 1);
	aspect-ratio: 1;
}
.player img,
.swordPicked img,
.segment img {
	width: 100%;
	object-fit: cover;
	position: absolute;
	inset: 0;
}

.player {
	position: relative;
	z-index: 2;
	grid-column: calc(var(--Environment-player-position-x) + 1);
	grid-row: calc(var(--Environment-player-position-y) + 1);
}

.swordPicked {
	z-index: 1;
	transition-property: translate;
	transition-duration: 0.5s;
	translate: calc(var(--Environment-princess-step) * 100%) 0;
}
