.wrapper {
	margin-block: 2rem;
	display: flex;
	justify-content: center;
	column-gap: 0.125rem;
	position: relative;
}
.segment {
	position: relative;
	display: grid;
	align-items: center;
	max-width: 8rem;
	height: 8rem;
}
.segment img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.fakeAnimationOfSteps {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
}

.fakeAnimationOfSteps ~ .segment {
	opacity: 0.1;
}

.princess {
	position: absolute;
	inset: 0;
}
