.wrapper {
	margin-block: 2rem;
	display: grid;
	/* justify-content: center; */
	max-width: calc(8rem * var(--Environment-size-width));
	margin-inline: auto;
	grid-template-columns: repeat(var(--Environment-size-width), 1fr);
	grid-template-rows: repeat(var(--Environment-size-height), 1fr);
	gap: 0.125rem;
	position: relative;
	isolation: isolate;
}
.row {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
}
.segment {
	position: relative;
	display: grid;
	align-items: center;
}
.segment img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.princess,
.swordPicked {
	position: absolute;
	inset: 0;
	width: 100%;
	z-index: 1;
	transition-property: translate;
	transition-duration: 0.5s;
	translate: calc(var(--Environment-princess-step) * 100%) 0;
}
