.tile {
	display: grid;
}

.card_media_in {
	aspect-ratio: 16 / 9;
	background-color: rgba(0, 0, 0, 0.048);
}

.card:not(.is_unlocked) .card_media_in {
	filter: grayscale(100%);
	opacity: 0.1;
}

.card_media {
	position: relative;
}

.card_lock {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	font-size: 5em;
}

.card_header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	column-gap: 0.5em;
}
