.container {
	display: flex;
	flex-direction: column;
}

.environment {
	margin-block: 2rem;
	display: flex;
	justify-content: center;
	column-gap: 0.125rem;
}
.environment_segment {
	display: grid;
	align-items: center;
	max-width: 8rem;
	height: 8rem;
}
.environment_segment img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.locked {
	margin-top: 2rem;
	text-align: center;
	font-size: 10em;
	flex-grow: 1;
	display: grid;
	grid-template-rows: 1fr auto 2fr;
	max-height: 60rem;
}
.locked_in {
	grid-row: 2;
}
