.run {
	margin-top: 1rem;
	text-align: center;
}

.otherActions {
	margin-top: 10rem;
	text-align: center;
}

.image {
	max-width: 24rem;
	display: block;
	margin-inline: auto;
	width: 100%;
	height: auto;
}

.environment {
	margin-block: 2rem;
}
