.wrapper {
	--target-width: 568;
	--target-height: 320;
	display: grid;
	grid-template-columns: repeat(auto-fill, calc(var(--target-width) * 1px));
	grid-auto-rows: calc(var(--target-height) * 1px);
	gap: 1px;
}

.level {
	overflow: hidden;
	display: grid;
	align-content: center;
}

.level_in {
	transform: scale(
		max(
			var(--target-width) / (var(--width) - 10),
			var(--target-height) / (var(--height) - 10)
		)
	); /* -10 is subtracted to overcome rounding errors */
}
