.wrapper {
	--target-width: 568;
	--target-height: 320;
	display: grid;
	grid-template-columns: repeat(auto-fill, calc(var(--target-width) * 1px));
	grid-auto-rows: calc(var(--target-height) * 1px);
	gap: 1px;
}

.level {
	overflow: hidden;
	display: grid;
	align-content: center;
}

.level_in {
	transform: scale(
		max(
			var(--target-width) / var(--width),
			var(--target-height) / var(--height)
		)
	);
}
