.tile {
	display: grid;
}

.card_media {
	overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
	.card_media_in {
		transition: scale 0.2s;
	}
}

.card_media_in {
	aspect-ratio: 16 / 9;
	background-color: rgba(0, 0, 0, 0.048);
}

.card:has(.card_lock) .card_media_in {
	filter: grayscale(100%);
	opacity: 0.1;
}

a:hover .card_media_in,
a:focus-visible .card_media_in {
	scale: 1.03;
}

.card_media {
	position: relative;
}

.card_lock,
.card_mystery {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	font-size: 5em;
}

.card_header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	column-gap: 0.5em;
}
